<!DOCTYPE html>
<html>
  <head>
    <title>Kayıt Ol</title>
  </head>
  <body>
    <h1>Kayıt Ol</h1>
    <form method="POST" action="{{ url_for('register') }}">
      <label for="username">Kullanıcı Adı:</label>
      <input type="text" name="username" id="username" required>
      <br>
      <label for="password">Şifre:</label>
      <input type="password" name="password" id="password" required>
      <br>
      <label for="confirm_password">Şifre Tekrarı:</label>
      <input type="password" name="confirm_password" id="confirm_password" required>
      <br>
      <button type="submit">Kayıt Ol</button>
    </form>
    <br>
    <a href="{{ url_for('login') }}">Giriş Yap</a>
  </body>
</html>
